In [26]:
import ccxt, yfinance
import pandas as pd
import pandas_ta as ta

In [27]:
# get data from binance
exchange = ccxt.binance()
bars = exchange.fetch_ohlcv('ETH/USDT', timeframe='5m', limit=500)
# returns list of lists

In [28]:
# convert results to dataframe
df = pd.DataFrame(bars, columns=['time', 'open', 'high', 'low', 'close','volume'])

In [29]:
# get indicators for dataframe (the verbose way)
adx = ta.adx(df['high'], df['low'], df['close'])

In [30]:
# get indicators for dataframe (the easy way)
adx = df.ta.adx()

In [31]:
macd = df.ta.macd()

In [32]:
rsi = df.ta.rsi()

In [33]:
df = pd.concat([df, adx, macd, rsi], axis=1)
df

,time,open,high,low,close,volume,ADX_14,DMP_14,DMN_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,RSI_14
0,1630111500000,3272.71,3280.00,3271.42,3272.28,813.4771,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1630111800000,3272.27,3274.89,3268.35,3270.43,799.4611,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1630112100000,3270.22,3270.22,3264.45,3267.87,1235.1729,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1630112400000,3267.87,3270.42,3262.13,3262.24,899.8259,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1630112700000,3262.24,3263.90,3253.69,3257.64,1946.1298,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1630260000000,3204.09,3205.53,3200.15,3201.25,976.4844,25.721301,29.142558,16.049309,3.109373,-0.228304,3.337677,53.992628
496,1630260300000,3201.25,3202.30,3199.23,3199.41,498.2063,25.718505,28.035677,16.577941,2.754924,-0.466203,3.221126,51.859075
497,1630260600000,3199.41,3200.82,3197.36,3200.38,288.3587,25.241077,26.800203,18.229092,2.523205,-0.558337,3.081542,52.915374
498,1630260900000,3200.38,3203.62,3195.42,3202.94,869.7462,25.252238,27.542906,16.386110,2.517121,-0.451537,2.968658,55.679332
499,1630261200000,3202.93,3205.00,3201.63,3202.34,426.4661,25.475971,28.117110,15.684297,2.435806,-0.426282,2.862087,54.866399